<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body class="min-h-screen flex flex-col">

    <div class="flex flex-row items-center">
        <div class="relative w-96 h-full overflow-hidden">
            <img src="/static/assets/imagem-cadastro.png" alt="">
        </div>
        
        <div class="w-full h-full flex justify-center">
            <div class="flex flex-col rounded-xl p-4 shadow-xl">

                <div class="text-center">
                    <p>Bem-vindo ao <span class="font-bold text-red-600">Lebruine</span></p>
                    <p class="text-4xl font-medium">Criar conta</p>
                </div>
                <div class="flex gap-4 py-4">
                    <div class="w-96 h-auto">
                        <img class="my-4 bg-center" src="/static/assets/imagem-empresa.jpg" alt="">
                        <a href="/cadastroEmpresa"><button class="bg-red-600 text-white font-bold w-96 h-12 rounded-md">Sou uma empresa</button></a>
                    </div>
                    <div class="w-96 h-auto">
                        <img class="my-4" src="/static/assets/imagem-pessoa.jpg" alt="">
                        <a href="/cadastrar_cliente"><button class="bg-red-600 text-white font-bold w-96 h-12 rounded-md">Sou uma pessoa</button></a>
                    </div>
                </div>
            
                <div class="text-center">
                    <p class="text-gray-500">Ja tem uma conta?</p>
                    <a href="/login"><p class="font-bold text-red-600">Fazer login</p></a>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-red-600 w-full text-white p-2 flex flex-col items-center">
        <p class="text-base mb-2">Acompanhe as redes sociais do Le Bruine:</p>
        <div class="flex items-center justify-center gap-3">
            <a href='https://www.instagram.com/' target="blank" passHref>
            <div class="cursor-pointer">
                <img src="assets/instagram-ico.svg" alt="logo instagram" width={24} height={24} />
            </div>
            </a>
            <a href='https://www.facebook.com/' target="blank" passHref>
            <div class="cursor-pointer">
                <img src="assets/facebook-ico.svg"alt="logo facebook" width={24} height={24} />
            </div>
            </a>
        </div>
        <p class="text-base my-2">Rua Francisco Carraca de Freitas, 270, Boa Vista, Garanhuns-PE</p>
        <p class="text-base">Le Bruine © 2024 - Todos os direitos reservados / Desenvolvido por: F.A Soluções Tecnológicas - Yuri Baruk Freitas | Thiago Anízio Miranda</p>
    </footer>
</body>

</html>