<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="min-h-screen flex flex-col">
    <div class="bg-red-600 text-white w-auto h-24 flex items-center justify-between px-20 gap-2"> <!--header-->
        <a href="/clienteLogado">
            <div class="flex-shrink-0 cursor-pointer">
                <img src="/static/assets/le-Bruine-logo.png">
            </div>
        </a>
        <div class="flex items-center">
            <input type="text" placeholder="Busque por restaurante, comida, cidade..." class="w-96 h-12 bg-white text-black text-base px-2 mr-4 rounded-md focus:outline-none" id="searchBar" />
            <button class="w-16 h-12 bg-red-800 rounded-md cursor-pointer hover:bg-red-900 flex justify-center items-center">
                <img src="/static/assets/lupa.svg">
            </button>
        </div>
        
        <div class="flex">
            <div class="relative inline-block text-left">
                <div>
                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-semibold text-red-600 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                        Menu
                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
        
                <!-- Dropdown menu, show/hide based on menu state. -->
                <div class="z-10 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="dropdown-menu">
                    <div class="py-1" role="none">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        <a href="/perfilUsuario" class="text-red-600 flex items-end gap-2 px-4 py-2 text-sm font-medium hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0"><img src="/static/assets/minha-conta.svg" alt="">Minha conta</a>
                        <a href="/minhasReservas" class="text-red-600 flex items-end gap-2 px-4 py-2 text-sm font-medium hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-1"><img src="/static/assets/minhas-reservas.svg" alt="">Minhas reservas</a>
                        <a href="/logout" class="text-red-600 flex items-end gap-2 px-4 py-2 text-sm font-medium hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-2"><img src="/static/assets/sair.svg" alt="">Sair</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.getElementById('menu-button').addEventListener('click', function() {
                var menu = document.getElementById('dropdown-menu');
                menu.classList.toggle('hidden');
            });
    
            // Optionally close the dropdown when clicking outside of it
            window.addEventListener('click', function(event) {
                var menuButton = document.getElementById('menu-button');
                var dropdownMenu = document.getElementById('dropdown-menu');
                if (!menuButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }
            });
        </script>
        
    </div> <!--Fim do header-->

    <div class="flex flex-wrap justify-center mt-6"> <!--Carrossel-->
        <a href="#" data-type="japonesa" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/sushi.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Japonesa</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="espanhola" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/comida-espanhola.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Espanhola</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="portuguesa" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/comida-portuguesa.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Portuguesa</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="italiana" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/massas.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Italiana</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="francesa" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/comida-francesa.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Francesa</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="indiana" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/comida-indiana.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Indiana</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="regional" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/comida-regional.png" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Regional</span>
                </div>
            </div>
        </a>
        <a href="#" data-type="todos" class="food-type">
            <div class="relative w-48 h-auto rounded-lg overflow-hidden m-2">
                <img src="/static/assets/todos-os-pratos.jpg" />
                <div
                    class="absolute inset-0 flex items-center justify-center text-white text-2xl font-semibold bg-black bg-opacity-70 hover:bg-opacity-20">
                    <span class="drop-shadow-md">Todos</span>
                </div>
            </div>
        </a>
    </div> <!--fim carrossel-->

    <div class="flex flex-grow flex-wrap items-center justify-center gap-4 mx-6">
        <!-- Restaurantes -->
        {% for restaurante, imagem in restaurantes %}
        <div id="restaurante-{{ restaurante.id }}" class="w-auto flex gap-4 items-center rounded-2xl hover:bg-slate-100 hover:shadow-lg hover:cursor-pointer p-6 restaurant-item" data-type="{{ restaurante.segmento }}">
            <img class="w-32 h-32 rounded-xl" src="{{ imagem }}" alt="Imagem do Restaurante">
            <div class="w-80">
                <p class="font-bold text-red-600 text-xl restaurant-name">{{ restaurante.nome }}</p>
                <p class="font-normal text-gray-400 text-wrap text-sm endereco-restaurante">{{ restaurante.endereco }}</p>
                <p class="font-bold text-base text-red-600">{{ restaurante.telefone }}</p>
                <a href="/reservar/{{ restaurante.id }}" class="w-36 bg-red-600 font-semibold text-sm rounded-lg text-white flex flex-row gap-1 h-8 items-center px-2">Fazer reserva<img src="../static/assets/check-button.svg" alt="Check"></a>
            </div>
        </div>
        {% endfor %}   
    </div>

    <footer class="bg-red-600 mt-7 w-full text-white p-2 flex flex-col items-center">
        <p class="text-base mb-2">Acompanhe as redes sociais do Le Bruine:</p>
        <div class="flex items-center justify-center gap-3">
            <a href='https://www.instagram.com/' target="blank" passHref>
            <div class="cursor-pointer">
                <img src="/static/assets/instagram-ico.svg" alt="logo instagram" width="24" height="24" />
            </div>
            </a>
            <a href='https://www.facebook.com/' target="blank" passHref>
            <div class="cursor-pointer">
                <img src="/static/assets/facebook-ico.svg" alt="logo facebook" width="24" height="24" />
            </div>
            </a>
        </div>
        <p class="text-base my-2">Rua Francisco Carraca de Freitas, 270, Boa Vista, Garanhuns-PE</p>
        <p class="text-base">Le Bruine © 2024 - Todos os direitos reservados / Desenvolvido por: F.A Soluções Tecnológicas - Yuri Baruk Freitas | Thiago Anízio Miranda</p>
    </footer>

    <script>
        function searchRestaurants() {
            const searchTerm = document.getElementById('searchBar').value.toLowerCase();
            const restaurants = document.querySelectorAll('.restaurant-item');

            restaurants.forEach(restaurant => {
                const name = restaurant.querySelector('.restaurant-name').textContent.toLowerCase();
                const address = restaurant.querySelector('.endereco-restaurante').textContent.toLowerCase();

                if (name.includes(searchTerm) || address.includes(searchTerm)) {
                    restaurant.style.display = 'flex';
                } else {
                    restaurant.style.display = 'none';
                }
            });
        }

        document.getElementById('searchBar').addEventListener('input', searchRestaurants);

        document.querySelectorAll('.food-type').forEach(typeDiv => {
            typeDiv.addEventListener('click', () => {
                const type = typeDiv.getAttribute('data-type');
                const restaurants = document.querySelectorAll('.restaurant-item');
                
                restaurants.forEach(restaurant => {
                    const restaurantType = restaurant.getAttribute('data-type');
                    
                    if (type === 'todos' || restaurantType === type) {
                        restaurant.style.display = 'flex';
                    } else {
                        restaurant.style.display = 'none';
                    }
                });
            });
        });
    </script>
    <script>
        const mensagem = "{{ mensagem }}";
        if (mensagem && mensagem !== "") {
            alert(mensagem);
        }
    </script>
</body>

</html>
