<div class="flex justify-center flex-wrap gap-2 mt-6" id="carrossel"> <!--carrossel-->
    <div id="hamburguer">
        <a class="w-auto h-64 rounded-xl href="#">
            <img src="assets/hamburger.png" alt="">
        </a>
    </div>
    <div id="sushi">
        <a href="#">
            <img class="w-full h-64 rounded-xl" src="assets/sushi.png" alt="">
        </a>
    </div>
    <div id="massas">
        <a href="#">
            <img class="w-full h-64 rounded-xl" src="assets/massas.png" alt="">
        </a>
    </div>
    <div id="pizza">
        <a href="#">
            <img class="w-full h-64 rounded-xl" src="assets/pizza.png" alt="">
        </a>
    </div>
  </div>